.page {
    padding: 50px 50px;
}
.page p{
    font-size: 15px;
    padding: 0 0;
}

.page .notFound {
    background-color: #0f0f0f;
    font-size: 40px;    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#light .notFound{
    background-color: #0f0f0f;
}
#dark .notFound{
    background-color: #fff;
}
#light {
    color: #fff;
}
#dark {
    color: #000;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.title h1 {
    margin: 0;
    margin-bottom: 10px;
}
.title .icon{
    margin: 0 10px;
    width: 40px;
    height: 40px;
}
@media (max-width: 768px) {
    .page{
        padding: 0px 0px;
        padding-bottom: 20px;
        font-size: smaller;
    }
    .title h1{
        width: 1000px;
        align-self: center;
    }
    .title .icon{
        margin: 0 10px;
        width: 100px;
    }
    .title h1 {
        font-size: medium;
    }
    .page .notFound h5 {
        font-size: 16px;
        text-align: center;
    }
    .page .notFound h6 {
        font-size: 13px;
        text-align: center;
    }
    .notFound img {
        width: 260px;
    }
}