.Pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.paginate {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  button{
    text-transform: capitalize;
    font-size: large;
  }
  #light button {
    color: #fff;
  }
  #dark button{
    color: #000;
  }

  #dark .icon{
    color: black;
  }
  #light .icon{
    color: #fff;
  }
  
.paginate:hover {
    background-color: #ddd;
    color: black;
  }
  h1 {
    padding: 0 200px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 0;
  }
  #light h1 {
    color: #fff;
  }
  #dark h1{
    color: #000;
  }
  @media (max-width: 1366px) {
    h1 {
      padding: 0 80px;   
    }
  }
  @media (max-width: 768px) {
    h1 {
      padding: 0;
      width: 100px;
      padding-left: 80px;
      margin: 20px -75px;
    }
  }